.color-black{color: #FF0000;}
.color-green{color: #97ba36;}
.color-blue{color: #0080c5;}
.color-instagram{color:#000;}
.color-facebook{color:#000;}
.color-hover{color:#97ba36;}


.navbar{color:black;}
.navbar-border{border-bottom: solid 5px #97ba36;}

.sharing1:hover{color:#97ba36;}
.sharing2:hover{color:#97ba36;}

